{% extends 'base.html.twig' %}

{% block title %}Edit Site{% endblock %}

{% block body %}
    <h1>Edit Site</h1>

    {{ include('site/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('site_index') }}">back to list</a>

    {{ include('site/_delete_form.html.twig') }}
{% endblock %}
