<form method="post" action="{{ path('city_delete', {'id': city.id}) }}"
    onsubmit="return confirm('Voulez vous vraiment supprimer cette ville ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ city.id) }}">
    <button class="btn">Supprimer</button>
</form>